$bottomMargin: 35px;

.content__title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: $bottomMargin;
    text-align: center;
}

.content__logo {
    width: 225px;
    height: 225px;

    margin-bottom: $bottomMargin;
}

.content__form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .form__error {
        margin: 0;
        min-height: 25px;
        font-size: 0.9rem;
        color: #eb5757;
    }

    .form__button {
        max-width: 400px;
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .button__content {
            padding: 15px 75px;
        }
    }
}

.content__navigate {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    gap: 6px;

    .navigate__content {
        text-decoration: underline;
        color: var(--primary-dark);
    }
}
