.input {
    background-color: var(--white);
    padding: 17px 20px;
    width: 320px;

    border: 2px transparent solid;
    border-radius: 15px;

    &:focus {
        border-color: var(--primary-lighter);
    }
}
