.input {
    background-color: var(--white);
    padding: 17px 20px;
    width: 320px;

    border: 2px var(--primary-lighter) solid;
    border-radius: 15px;

    &:focus {
        border-color: var(--primary);
    }
}

@media (max-width: 400px) {
    .input {
        width: 100%;
    }
}
