.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

// form
.input {
    width: 100%;
}

.textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
}

.subheading {
    font-size: 20px;
    margin: 20px 0 10px;
}

.word-container {
    margin-bottom: 50px;

    .word-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 10px;
        align-items: center;
    }

    .word-item-2 {
        display: flex;
        gap: 20px;
    }
}

.submit-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;

    .submit-btn {
        max-width: 400px;
        padding: 15px 30px;
    }
}

.remove-btn {
}

.add-btn {
    padding: 12px 30px;
    margin-bottom: 20px;
}

.add-btn:hover,
.remove-btn:hover,
.submit-btn:hover {
    opacity: 0.9;
}
