.input {
    background-color: var(--white);
    padding: 17px 20px;
    width: 320px;

    border: 2px var(--primary-lighter) solid;
    border-radius: 15px;
    outline: none; 
    
    &:focus {
        border-color: var(--primary);
    }
}
