$background-color: #eeeeee;
$content-background-color: #fcfcfc;
$header-height: 85px;

.wrapper {
    width: 100%;
    min-height: 100vh;

    background-color: $background-color;
    display: flex;
    justify-content: center;
    position: relative;
}

// content
.content {
    width: 60%;
    background-color: $content-background-color;
    margin-top: $header-height;

}

@media only screen and (max-width: 1020px) {
    .content {
        width: 100%;
    }
}
