$background-color: #eeeeee;
$content-background-color: #f8f8f8;

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: $background-color;
    display: flex;
    justify-content: center;
    position: relative;
}

.content {
    width: 50%;
    background-color: $content-background-color;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 980px) {
    .content {
        width: 100%;
    }
}
