.pagination {
    display: flex;
    margin: 35px 0px;
    align-items: center;
    gap: 20px;
    font-size: 1.3rem;

    .arrow,
    .page {
        border: none;
        background: none;
        cursor: pointer;
        color: #bbbbbb;
        font-weight: 700;

        &.active {
            font-weight: 800;
            color: #000000;
        }

        &.disabled {
            pointer-events: none;

            img {
                opacity: 0.5;
            }
        }

        &:hover:not(.disabled):not(.active) {
            color: #f0a500;
        }
    }

    .dots {
        color: #999;
    }
}
