.comments-section {
    padding: 15px;
    border-radius: 8px;

    h3 {
        font-weight: 600;
        margin-bottom: 20px;
    }
}

.comment-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    textarea {
        width: 100%;
        min-height: 1.6em; /* 1 line */
        max-height: calc(1.6em * 4); /* 4 lines */
        line-height: 1.6em;
        overflow-y: auto;
        resize: none; /* prevent manual resize */
    }

    /* Optional: make it grow automatically as user types */
    textarea.auto-expand {
        overflow-y: hidden; /* hide scrollbar until max height */
    }

    button {
        margin-top: 20px;
        align-self: flex-end;
        cursor: pointer;
    }
}

.comment-list {
    list-style: none;
    padding: 0 20px;
    margin-bottom: 20px;

    li {
        padding: 8px 0;
        // border-bottom: 1px solid #eee;   

        strong {
            display: block;
            font-weight: bold;
        }

        span {
            font-size: 0.8em;
            color: gray;
        }

        p {
            margin: 5px 0 0;
        }
    }
}
