@import 'normalize.css';

// Font emmbeded
@font-face {
    font-family: ProximaNova;
    src: url('/fonts/Font-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/fonts/Font-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/fonts/Font-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/DisplayFont-Bold.woff2');
    font-weight: 700;
}

:root {
    --primary-dark: #e6b400;
    --primary: #ffcb08;
    --primary-light: #ffc8008a;
    --primary-lighter: #ffc80048;

    --black: #000;
    --white: #fff;
    --text-color: #333;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'ProximaNova', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    text-rendering: optimizeSpeed;

    font-size: 1rem;

    line-height: 1.5;
    overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;

    font-family: 'ProximaNova', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color: var(--text-color);
    text-decoration: none;
}
